import { createGlobalStyle } from "styled-components";

export const GlobalStyle = createGlobalStyle`
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :focus {
    outline: 0;
  }

  body {
    background: linear-gradient(to right, #c02425, #f0cb35);
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif;
  }
`